*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CSS Variable for Movements */
:root{
    --x : 0px;
    --y : 0px;
    --z : 0px;


    /* Line Movements */
    --line1 : 0px;
    --line2 : 0px;

    /* Obstacle Positions */
    --hurdle1Y : -80px;
    --hurdle2Y : -120px;
    --hurdle3Y : -140px;
    --hurdle4Y : 0px;
}


.game-container{
    height: 100vh;
    width: 100vw;
    background-color: red;
    display: flex;
    position: relative;
}

/* Game Area All CSS */
.game-area{
    height: 100%;
    width: 70%;
    /* border: 2px solid green; */
    background-color: rgb(173, 70, 70);
    display: flex;
    overflow: hidden;
    perspective: 1200px;
    position: relative;
}

.road{
    height: 100%;
    width: 25%;
    border-right: 2px solid white;
    border-left: 2px solid white;
}

.line{
    height: 120px;
    width: 20px;
    background-color: white;
    border-radius: 5px;
    margin: 200px auto;
}

/* Move lines */
.line1{
    transform: translateY(var(--line1));
    transition: transform 0.2s linear;
}

.line2{
    transform: translateY(var(--line2));
    transition: transform 0.2s linear;
}


.hid-line{
    display: none;
}


/* Charater Design and functions */
.character{
    height: 165px;
    width: 60px;
    object-fit: cover;
    position: absolute;
    left: 300px;
    bottom: 10px;
    z-index: 10;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: translate3d(var(--x), var(--y), var(--z));
    transition: transform 0.2s linear;
}


/* Hurdle CSS */
.hurdle{
    height: 80px;
    width: 170px;
    position: absolute;
}

.hurdle1{
    left: 30px;
    transform: translateY(var(--hurdle1Y));
    transition: transform 0.2s linear;
}

.hurdle2{
    left: 250px;
    transform: translateY(var(--hurdle2Y));
    transition: transform 0.2s linear;
}

.hurdle3{
    left: 475px;
    transform: translateY(var(--hurdle3Y));
    transition: transform 0.2s linear;
}

.hurdle4{
    left: 700px;
    transform: translateY(var(--hurdle4Y));
    transition: transform 0.2s linear;
}


/* Side bar CSS */
.sidebar{
    height: 100%;
    width: 30%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

/* Title of Game */
.title{
    color: white;
}
.game-timer{
    color: white;
}


.gamesound{
    height: 20px;
    width: 40%;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.game-icon{
    height: 60%;
    width: 90%;
    object-fit: cover;
}

.count-hurdle{
    width: 350px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box{
    height: 20px;
    width: 70%;
    border: 2px solid yellow;
    border-radius: 3px;
    color: white;
    display: flex;
}

#gameVolume{
    height: 4px;
    width: 100px;
}